@media screen and ( max-width:600px )

{
/* small screen */
    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        gap: 2vh;
        grid-template-areas:
            'header header header header'
            'sidebar main main main '
            'sidebar main main main '
            'sidebar main main main '
            'footer footer footer footer'
        ;
    }
    
    #header-div {
        grid-area: header;
        background-color: #F0E3CA;
        display: flex;
        
        
        
    }
    /* facebook and git icons */




    
    /* side bar */
    #sidebar-div {
        grid-area: sidebar;
        background-color: #FF8303;
        display: flex;
        align-items: center;

    
    }
    /* this is main div */
    #main-div {
        grid-area: main;
        background-color: #A35709;
        display: flex;
        
        
    }
    /* this is the father of the pic */
    .pic{
        display:flex;
        margin-right: -20vw;
        
    }
    /* father of ul */
    .melel{
        display: flex;
         
    }
    #ul{
        
        
        
    }
/* this is the pic that inside the main */
    #img {
        width: 20vw;
        height: 15vh;
        border-radius: 40vw;
        margin-left: 0vw;
        
        
    }

    
    #footer-div {
        grid-area: footer;
        background-color: #1B1A17;
        color: #F0E3CA;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}    

@media screen and (min-width:600px)
{
/* big screen - big screen */ 

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 2vh;
    grid-template-areas:
        'header header header header'
        'sidebar main main main '
        'sidebar main main main '
        'sidebar main main main '
        'footer footer footer footer'
    ;
}
/* where the links to face&gite in */
#header-div {
    grid-area: header;
    background-color: #A35709;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* facebook and githab items */




}
/* sidebar */
#sidebar-div {
    grid-area: sidebar;
    background-color: #f8a304;
    display: flex;
    align-items: center;

}
/* all the text in the website */
#main-div {
    grid-area: main;
    background-color: #F0E3CA;
    display: flex;
    flex-direction: row;
    
}
/* h1 and paragraph */
.head{
    
}

/* my personal img */

.pic{
    display: flex;
    margin-right: 15vw;
    
    
    
    
}
.melel{
    margin-right: 20vw;
    
    
}

#img{
    width: 10vw;
    height: 30vh;
   border-radius: 12vh;
 
}

#img:hover{
    width: 15vw;
    box-shadow: (10px 3px 7px);
    
}

#footer-div {
    grid-area: footer;
    background-color: #1B1A17;
    color: #F0E3CA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



    

