@media screen and ( max-width: 600px ) {

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }    
    
    /* this is for small screen */

    .container {
        display: grid;
        position: fixed;
        width: 100vw;
        height: 100vh;
        gap: 1vh;
        grid-template-areas:
            'header header header'
            'main main main '
            'main main main '
            'main main main '
            'footer footer footer'
        ;
    }
    /* this is the header div */
    #header-div {
        grid-area: header;
        background-color: #cc1a1af1;
        display: flex;
        height:5vh; 
        position: sticky;
           
    }
    
    /* facebook and git icons */
    #social-media{
        display: flex;
        font-size:10vw ;
          
    }
    #facebook{
        margin-left: 30vw;
        width: 40vw;
        color: #0a0501;   
    }
    
    #github{
        color: #0a0501;
        
    }
    
    /*this is the side bar */
  
   
   
    /* this is the main div */
    #main-div {
        grid-area: main;
        background-color: #A35709;
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        
    }
    /* this is the father of the pic */
    .main{
        display:flex;
        flex-direction: column;
        width:5vw ;
        height:5vh;
        
    }
    
    .melel{
        display: flex;
        font-style: italic;
       margin-left: 20vw;
        position: fixed;   
    }

/* this is the pic that inside the main */
    #img {
        width: 15vw;
        height: 15vh;
        border-radius: 40vw;
        margin-left: 0vw;    
        }

    /* this is the footer */
    #footer-div {
        grid-area: footer;
        background-color: #1B1A17;
        color: #F0E3CA;
        text-align: center;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        height: 7vh;
        position: sticky;
    }
}    

@media screen and (min-width:600px)
{

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* big screen - big screen */ 

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 1vh;
    grid-template-areas:
        'header header header header'
        'sidebar main main main '
        'sidebar main main main '
        'sidebar main main main '
        'footer footer footer footer'
    ;
}
/* where the links to face&gite in */
#header-div {
    grid-area: header;
    background-color: #1a1816;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
}
/* facebook and githab items */
#social-media{
    display: flex;
    font-size: 5vw;
    height: 9vh;
}

#facebook{
    color: #1227e7;
    width: 20vw;
}

#github{
    color: #1227e7;
    margin-left: 15vw;   
}


}
/*this is the sidebar */
#sidebar-div {
    grid-area: sidebar;
    background-color: #0c0902fa;
    color:#ffffff;
    width: vw;
    display: flex;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* all the text in the website */
#main-div {
    grid-area: main;
    background-color: #58544b;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    font-style:normal;
}


.main{
    display: flex;
    margin-right: 12vw;
    padding-right: 30vw;
       
}
.melel{
    margin-right: 5vw;
    border: 4px solid black;
    border-radius:5vh;
    color: #01020e;
}

#img{
    width: 15vw;
    height: 30vh;
   border-radius: 12vh;
   border: 1px solid;
 
}

#img:hover{
    width: 25vw;
    height: 35vh;
    filter:drop-shadow(20px 4px 3px);
}

#footer-div {
    grid-area: footer;
    background-color: #1B1A17;
    color: #F0E3CA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



    

