@media screen and ( max-width:600px )

{
/* this is for small screen */
    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        gap: 2vh;
        grid-template-areas:
            'header header header header'
            'sidebar main main main '
            'sidebar main main main '
            'sidebar main main main '
            'footer footer footer footer'
        ;
    }
    /* this is the header div */
    #header-div {
        grid-area: header;
        background-color: #F0E3CA;
        display: flex;
        height:3vh;    
    }

    /* facebook and git icons */
    #social-media{
    display: flex;
    font-size:7vw ;
    
        
    }
    #facebook{
    margin-left: 30vw;
    display: flex;
    width: 50vw;
    
    
    }
    
    #github{
    display: flex;
    
    }

    
    /*this is the side bar */
    #sidebar-div {
        grid-area: sidebar;
        background-color: #0a0501;
        display: flex;
        align-items: center;
        width: 15vw;
    
    }
    /* this is the main div */
    #main-div {
        grid-area: main;
        background-color: #A35709;
        display: flex;
        width: 100vw;
        height: 100vh;
        
    }
    /* this is the father of the pic */
    .pic{
        display:flex;
        flex-direction: column;
        width:5vw ;
        height:5vh;
        
    }
    /* father of ul */
    .melel{
        display: flex;
        font-style: italic;
       margin-left: 15vw;
        position: fixed;

         
    }
    /* all the li in the main */
    .li1{
        width: 50vw;  
    }
    .li2{
        width: 50vw;
    }
    .li3{
        width: 50vw;
    }
    .li4{
        width: 50vw;
    }

/* this is the pic that inside the main */
    #img {
        width: 5vw;
        height: 15vh;
        border-radius: 40vw;
        margin-left: 0vw;    
        }

    /* this is the footer */
    #footer-div {
        grid-area: footer;
        background-color: #1B1A17;
        color: #F0E3CA;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 7vh;
        
        
        
    }
}    

@media screen and (min-width:600px)
{
/* big screen - big screen */ 

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 2vh;
    grid-template-areas:
        'header header header header'
        'sidebar main main main '
        'sidebar main main main '
        'sidebar main main main '
        'footer footer footer footer'
    ;
}
/* where the links to face&gite in */
#header-div {
    grid-area: header;
    background-color: #A35709;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
}
/* facebook and githab items */
#social-media{
    display: flex;
    font-size: 5vw;
    height: 9vh;
}

#facebook{
    color: #1227e7;
    width: 20vw;
}

#github{
    color: #110d01;
    margin-left: 15vw;
    
}


}
/* sidebar */
#sidebar-div {
    grid-area: sidebar;
    background-color: #0c0902;
    display: flex;
    align-items: center;

}
/* all the text in the website */
#main-div {
    grid-area: main;
    background-color: #F0E3CA;
    display: flex;
    flex-direction: row;
    
}
/* h1 and paragraph */


/* my personal img */

.pic{
    display: flex;
    margin-right: 15vw;
    
    
    
    
}
.melel{
    margin-right: 20vw;
    
    
}

#img{
    width: 20vw;
    height: 30vh;
   border-radius: 12vh;
 
}

#img:hover{
    width: 35vw;
    height: 35vh;
    box-shadow: (10px 3px 7px);
    
}

#footer-div {
    grid-area: footer;
    background-color: #1B1A17;
    color: #F0E3CA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



    

