@media screen and ( max-width:600px )

{
/* small screen */
    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        gap: 2vh;
        grid-template-areas:
            'header header header header'
            'sidebar main main main '
            'sidebar main main main '
            'sidebar main main main '
            'footer footer footer footer'
        ;
    }
    
    #header-div {
        grid-area: header;
        background-color: #F0E3CA;
        display: flex;
        flex-direction: row;
       
        
    }

    #face-pic{
        width:8vw ;
        height:10vh ;
        
    } 

    #git-pic{
       width:8vw ;
       height:10vh ;
    }
    
    
    #sidebar-div {
        grid-area: sidebar;
        background-color: #FF8303;
        display: flex;
        align-items: center;
    
    }
    
    #main-div {
        grid-area: main;
        background-color: #A35709;
        display: flex;
        
    
    
    }
    
    #footer-div {
        grid-area: footer;
        background-color: #1B1A17;
        color: #F0E3CA;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}    

@media screen and (min-width:600px)
{
/* big screen */

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 2vh;
    grid-template-areas:
        'header header header header'
        'sidebar main main main '
        'sidebar main main main '
        'sidebar main main main '
        'footer footer footer footer'
    ;
}

#header-div {
    grid-area: header;
    background-color: #F0E3CA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#face-pic{
    width:8vw;
    height:15vh;
}
#git-pic{
    width:8vw;
    height:15vh;
}

#sidebar-div {
    grid-area: sidebar;
    background-color: #FF8303;
    display: flex;
    align-items: center;

}

#main-div {
    grid-area: main;
    background-color: #A35709;
    display: flex;
    
}

.head{
    text-align: right;
}
#img{
   width: 10vw;
    
   
    
}


#footer-div {
    grid-area: footer;
    background-color: #1B1A17;
    color: #F0E3CA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


}
    

