

@media screen and (min-width:600px)
{

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* big screen - big screen */ 

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 1vh;
    grid-template-areas:
        'header header header header'
        'sidebar main main main '
        'sidebar main main main '
        'sidebar main main main '
        'footer footer footer footer'
    ;
}
/* where the links to face&gite in */
#header-div {
    grid-area: header;
    background-color: #1a1816;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
}
/* facebook and githab items */
#social-media{
    display: flex;
    font-size: 5vw;
    height: 9vh;
}

#facebook{
    color: #1227e7;
    width: 20vw;
}

#github{
    color: #1227e7;
    margin-left: 15vw;   
}


}
/*this is the sidebar */
#sidebar-div {
    grid-area: sidebar;
    background-color: #0c0902fa;
    color:#ffffff;
    width: vw;
    display: flex;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* all the text in the website */
#main-div {
    grid-area: main;
    background-color: #58544b;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    font-style:normal;
}


.pic{
    display: flex;
    margin-right: 12vw;
    padding-right: 30vw;
       
}
.melel{
    margin-right: -20vw;
    /* border: 4px solid black; */
    /* border-radius:5vh; */
    color: #01020e;
    display: flex;
    flex-direction: column;
}

#img{
    width: 15vw;
    height: 30vh;
   border-radius: 12vh;
   border: 1px solid;
 
}

#img:hover{
    width: 25vw;
    height: 35vh;
    filter:drop-shadow(20px 4px 3px);
}
.pic-box{
    display: flex;
    gap: 3vw;
    /* margin-left: 20vw; */
    width: 100%;
    height: 100%;

    animation-name: pic-box;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: alternate;
}
@keyframes pic-box{
    50%{
        background-image: url(./images/pic1.jpeg);
    }
    100%{
        background-image: url(./pic2.jpeg);
    }
    
}

#pic-box{
    width: 60%;
    height: 60%;
    background-image: url(./images/pic1.jpeg);
    background-size: cover;
    align-items: center;
}

.article{
    margin: 4vw;
}

#footer-div {
    grid-area: footer;
    background-color: #1B1A17;
    color: #F0E3CA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



    

